%h3 
  Welcome
  = @user.last_name  
  = @user.first_name  
%strong Contacts
- @beneficiaries.each do |beneficiary|
  %br
  = beneficiary.name
%p
%h3
  .friends-container
    .title 
      Friends
      = @number_of_friends
    %hr
    %br
      -@friends.each do |friend|
        %br
        =friend.name 
        %br
        %p
          =friend.message
          %br

