%h3 
  Welcome
  = @user.first_name  
 
%p
%h3
  .friends-container
    .title 
      Friends
    %hr
    %br
      -@friends.each do |friend|
        %br
        =friend.name 
        %br
        %p
          =friend.message
          %br

