// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
#main_container {
  width: 500px;
  border: 1px solid red;
}

h1 {
 text-align: center;
 }
