// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friends-container {
  width: 600px;
  height: 700px;
  float: right;
  margin-right: 100px;
  border: 1px solid black;
}

  .title {
    text-align: center; 
  }

  p {font-style:italic;
      font-size: 14px;
}
